<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TeamServlet</servlet-name>
    <servlet-class>web.TeamServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CourseServlet</servlet-name>
    <servlet-class>web.CourseServlet</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>TeacherServlet</servlet-name>
    <servlet-class>web.TeacherServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CourseSchedule</servlet-name>
    <servlet-class>web.CourseScheduleServlet</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>StudentServlet</servlet-name>
    <servlet-class>web.StudentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OtherServlet</servlet-name>
    <servlet-class>web.OtherServlet</servlet-class>
  </servlet>
 <servlet>
    <servlet-name>CodeServlet</servlet-name>
    <servlet-class>web.CodeServlet</servlet-class>
  </servlet>
 <servlet>
    <servlet-name>MarkServlet</servlet-name>
    <servlet-class>web.MarkServlet</servlet-class>
  </servlet>
 <servlet>
    <servlet-name>AjaxServlet</servlet-name>
    <servlet-class>web.AjaxServlet</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>AjaxServlet</servlet-name>
    <url-pattern>*.ajax</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TeamServlet</servlet-name>
    <url-pattern>*.team</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CourseServlet</servlet-name>
    <url-pattern>*.course</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TeacherServlet</servlet-name>
    <url-pattern>*.teacher</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CourseSchedule</servlet-name>
    <url-pattern>*.courseSchedule</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>StudentServlet</servlet-name>
    <url-pattern>*.student</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OtherServlet</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MarkServlet</servlet-name>
    <url-pattern>*.mark</url-pattern>
  </servlet-mapping>
 <servlet-mapping>
    <servlet-name>CodeServlet</servlet-name>
    <url-pattern>/code</url-pattern>
  </servlet-mapping>
</web-app>